<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
</head>
<body>
	<h2>
		User Profile Page <%= id %>
	</h2>
	<script type="text/javascript">window.history.pushState("", "", '/profile');</script>
</body>
</html>