<!DOCTYPE html>
<html>
<head>
	<title>user details</title>
</head>
<body>
	<h1>User Details Registraion for <%=// id %></h1>
	<script type="text/javascript">window.history.pushState("", "", '/userDetailsRegistraion');</script>
</body>
</html>