<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<!-- bootstrap css -->
	<link rel="stylesheet" href="/css/bootstrap.css"/>
	<!-- custom css for this page -->
</head>
<body>
	<h2>
		User Profile Page
	</h2>
	<!-- jquery js -->
	<script src="/js/jquery.min.js"></script>
	<!-- popper js -->
	<script src="/js/popper.js"></script>
	<!-- bootstrap js-->
	<script src="/js/bootstrap.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="/js/profile.js"></script>
</body>
</html>