body{
	padding-top: 130px;
}
.body-background{
	height:100%;
    width:100%;
    text-align:center;
    background:url('../img/loginBackground.jpeg') no-repeat center;
    background-size:cover;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    position: absolute;
    left:0;
    top: 0;
    z-index : -5;
}
.login-container{
	width: 30%;
	text-align: center;
	background:url('../img/loginBackground.jpeg') no-repeat center;
	background-size: cover;
	border-radius: 5px;
	padding-bottom: 54px;
}
/*container of image above username field*/
.login-image-container{
	padding: 20px;
}
.login-image-container img{
	width: 227px;
    height: 80px;
}

/*for usrename,password and submit div containers*/
.form-field-container{
	padding: 10px;
}
.form-field-container input[type='text'],.form-field-container input[type='password']{
	background-color: #ffffffc2;
	color: #484848;
	border-radius: 0px;
	font-weight: bold;
	outline: none;
	border: 1px solid white;
}
.form-field-container input[type='submit']{
	cursor:pointer;
	font-weight: bold;
	border-radius: 0px;
}